* {
    margin: 0;
    padding: 0;
}

p {
    margin: 10px;
}

.main {
    height: 650px;
    width: 395px;
    padding: 10px;
    background-color: #705594;
    display: flex;
    flex-direction: column;
}

.blocks {
    margin: 3px;
    background-color: #b680c7;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}
.blocks:first-child{
    background-color: white;
    display: inline-block;
    margin: 0 0.5rem;

    animation: shakeY; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */
}
li {
    list-style-type: none; /* Убираем маркеры */
}
a{
    text-decoration:none;
    color: #000000;
}